<main class="gallery-details">
  <div class="gallery-details__container">
    <button class="gallery-details__back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      <span>Volver a la lista</span>
    </button>
    <h1 class="gallery-details__title">Galería - {{ year }}</h1>

    <ng-container *ngIf="isLoading; else content">
      <div class="loading">
        <mat-spinner></mat-spinner>
        <p>Cargando imágenes...</p>
      </div>
    </ng-container>

    <ng-template #content>
      <div class="sliders-container">
        <div class="slider" *ngFor="let row of mediaRows; let i = even" [attr.reverse]="i ? 'true' : null"
          [style.--quantity]="row.urls.length" [style.--width]="'200px'" [style.--height]="'200px'">
          <div class="list">
            <div class="item" *ngFor="let url of row.urls; let j = index" [style.--position]="j + 1"
              (click)="openMedia(url)">
              <ng-container *ngIf="isVideo(url); else imageContent">
                <video [src]="url" controls class="media-item">
                  Tu navegador no soporta el elemento de video.
                </video>
              </ng-container>
              <ng-template #imageContent>
                <img [src]="url" [alt]="'Gallery content ' + year" class="media-item">
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</main>
