.gallery-details {
  background-image:
    linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
    url(../../../../public/assets/imagen_de_fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-attachment: fixed;

  &__container {
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }

  &__back-btn {
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
    }

    mat-icon {
      display: flex;
      align-items: center;
      font-size: 30px;
      height: 30px;
      width: 30px;
      line-height: 20px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--primary-color);
  }

  .sliders-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

    .list {
      display: flex;
      width: 100%;
      min-width: calc(var(--width) * var(--quantity));
      position: relative;
    }

    .item {
      width: var(--width);
      height: var(--height);
      position: absolute;
      left: 100%;
      animation: autoRun 20s linear infinite;
      transition: filter 0.5s;
      animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1) - 20s) !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    &:hover .item {
      animation-play-state: paused !important;
      filter: grayscale(1);
    }

    .item:hover {
      filter: grayscale(0);
    }

    &[reverse="true"] .item {
      animation: reversePlay 20s linear infinite;
    }
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }

    to {
      left: calc(var(--width) * -1);
    }
  }

  @keyframes reversePlay {
    from {
      left: calc(var(--width) * -1);
    }

    to {
      left: 100%;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;

    p {
      margin-top: 10px;
      font-size: 1.2rem;
      color: var(--primary-color);
    }
  }

  @media (max-width: 768px) {
    &__container {
      padding: 10px;
    }

    &__header {
      margin-bottom: 20px;
    }

    &__back-btn {
      font-size: 0.9rem;
      margin-bottom: 20px;


      mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .sliders-container {
      gap: 1rem;
    }

    .slider {
      .item {
        img {
          --width: 130px !important;
          --height: 130px !important;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .slider {
      .item {
        img {
          --width: 120px !important;
          --height: 120px !important;
        }
      }
    }
  }
}
