<main class="history">
  <div class="history__background__blur"></div>
  <div class="history__container">
    <div class="history__content">
      <div class="history__title">
        <h1>Historia del Club</h1>
      </div>
      <div class="history__description">
        <p class="history__description__text">
          Hace algunos años, en el corazón de la comuna 13, un grupo de padres, entrenadores y líderes comunitarios
          compartían una preocupación común: los jóvenes de su comunidad necesitaban más oportunidades para crecer,
          aprender y desarrollarse en un entorno seguro y positivo. Veían cómo muchos de ellos tenían talento y pasión
          por el deporte, pero carecían de un espacio adecuado donde pudieran canalizar esa energía y transformar su
          potencial en logros. Fue entonces cuando nació la idea que cambiaría sus vidas y la de muchos más: crear un
          club deportivo que fuera mucho más que un equipo de fútbol.
          <br>
          <br>
          Desde el principio, el propósito fue claro. No solo se trataba de entrenar jugadores, sino de construir un
          lugar donde los jóvenes pudieran aprender valores fundamentales como el respeto, la disciplina y el trabajo en
          equipo. Un espacio que los mantuviera alejados de los riesgos de la calle y les mostrara que, con esfuerzo y
          dedicación, podían alcanzar sus sueños, dentro y fuera del campo.
          <br>
          <br>
          La visión cobró vida gracias al esfuerzo conjunto de quienes creyeron en esta idea. Los primeros
          entrenamientos se llevaron a cabo en un pequeño terreno, con balones donados y la energía de los primeros
          participantes, quienes rápidamente entendieron que este proyecto era especial. Poco a poco, más familias se
          unieron, atraídas por el impacto positivo que el club estaba teniendo en sus hijos: jóvenes más seguros,
          motivados y comprometidos con su desarrollo.
          <br>
          <br>
          El nombre CD Futuro 13 refleja esa misión: “Futuro” porque cada entrenamiento, cada partido y cada lección
          está diseñado para construir un mañana mejor para sus jugadores, y “13” como homenaje a la comuna que vio
          nacer esta iniciativa, un lugar lleno de historia, resiliencia y sueños por cumplir.
          <br>
          Con el tiempo, el club comenzó a crecer. Entrenadores con experiencia se sumaron al proyecto, se formaron
          nuevas categorías, y lo que alguna vez fue un sueño pequeño se transformó en una organización sólida que une a
          la comunidad. Hoy, CD Futuro 13 no solo representa un espacio para jugar fútbol, sino un motor de cambio que
          inspira a jóvenes y familias a creer en el poder transformador del deporte.
          <br>
          <br>
          Este es un club que nació del corazón de una comunidad que quería más para sus hijos, y que seguirá creciendo
          gracias a la pasión, el esfuerzo y la esperanza de todos los que creen que el deporte puede cambiar vidas.
        </p>
      </div>
    </div>

    <app-button class="history__button" [config]="buttonConfig">
      <mat-icon class="icon">{{ buttonConfig.icon }}</mat-icon>
      {{ buttonConfig.label }}
    </app-button>
  </div>
</main>
