.tournaments {
  background-image:
    linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
    url(../../../../public/assets/tournament_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-attachment: fixed;

  &__container {
    width: 100%;
    height: 61vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--primary-color);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }

  &__card {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    h2 {
      margin: 0 0 10px;
      font-size: 2.8rem;
      color: var(--primary-color);
    }

    p {
      margin: 0;
      font-size: 1.1rem;
      color: var(--quaternary-color);
    }

    .tournament-names {
      margin-bottom: 0.5rem;
      color: var(--quaternary-color);
    }

    .overlay {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.3s ease;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    p {
      margin-top: 10px;
      font-size: 1.2rem;
      color: var(--primary-color);
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 2em;
    }

    &__grid {
      grid-template-columns: 1fr;
    }

    &__card {
      height: 200px;
    }
  }
}
