@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.players-testimonials {
  background-image:
    linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
    url(../../../../../public/assets/Imagen_fondo_testimonios_padres.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  height: 100vh;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .players-testimonials__title {
    font-family: 'ICA Rubrik';
    color: var(--tertiary-color);
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-testimonials__images {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 21px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }

    &__img {
      width: 80px;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      transition: 0.7s ease;

      &.active {
        width: 460px !important;
        height: 460px !important;
      }

      &.active h2 {
        display: none;
      }

      &.active .details p,
      &.active .details h3 {
        display: block;
      }
    }

    &__img:first-child,
    &__img:last-child {
      height: 300px;
    }

    &__img:nth-child(2),
    &__img:nth-child(6) {
      height: 350px;
    }

    &__img:nth-child(3),
    &__img:nth-child(4),
    &__img:nth-child(5) {
      height: 400px;
    }
  }

  h2 {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: var(--quaternary-color);
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
  }

  .details {
    position: absolute;
    bottom: 20px;
    left: 20px;

    h3 {
      font-family: "Jost", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      line-height: 30px;
      text-align: left;
      color: var(--quaternary-color);
      text-transform: uppercase;
      transition: 0.7s ease;
      display: none;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      line-height: 25px;
      text-align: left;
      color: var(--quaternary-color);
      text-transform: uppercase;
      transition: 0.7s ease;
      display: none;
    }
  }

  .players-testimonials__content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0 0 0;
    color: var(--tertiary-color);
    position: absolute;
    bottom: 0;
    width: 100%;

    & p {
      font-size: 1.3rem;
      font-weight: 550;
      text-align: center;
      width: 80%;
    }
  }

  .acordion {
    display: none;

  }
}

@media screen and (max-width: 768px) {
  .players-testimonials {
    height: auto;

      &__title {
        text-align: center;

        & h1 {
          width: 70%;
        }
      }

      .players-testimonials__info {
        display: none;


      }

      .accordion {
        display: flex;
        justify-content: center;

      mat-accordion {
        margin: 2rem;
        width: 80%;
        background-color: transparent;

        mat-expansion-panel {
          background-color: var(--primary-color);
          color: var(--quaternary-color);
          margin-bottom: 1rem;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          mat-expansion-panel-header {
            background-color: var(--tertiary-color);
            color: var(--quaternary-color);
            border-radius: 8px 8px 0 0;
            padding: 0.5rem 1rem;

            mat-panel-title {
              color: var(--quaternary-color);
              font-size: 1.2rem;
              font-weight: 700;
            }
          }

          p {
            padding: 1rem;
            font-family: 'Jost', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: var(--quaternary-color);
          }
        }
      }
    }
  }
}

