<header class="header">

  <!-- Menu Desktop -->
  <nav class="nav__container">
    <div class="nav__logo-container">
      <figure class="nav__logo">
        <img src="assets/logo.svg" alt="logo">
      </figure>
      <a routerLink="/home" class="nav__logo-text">CD-Futuro13</a>
    </div>

    <ul class="nav__list">
      <li class="nav__item has-submenu">
        <a routerLink="/about">Sobre Nosotros <span class="arrow"></span></a>
        <ul class="submenu">
          <li class="submenu-item"><a routerLink="/about/history">Historia</a></li>
          <li class="submenu-item"><a routerLink="/about/mission">Misión</a></li>
          <li class="submenu-item"><a routerLink="/about/vision">Visión</a></li>
        </ul>
      </li>

      <li class="nav__item has-submenu">
        <a routerLink="/team">Equipo <span class="arrow"></span></a>
        <ul class="submenu">
          <li class="submenu-item"><a routerLink="/team/teachers">Entrenadores</a></li>
          <li class="submenu-item"><a routerLink="/team/administrators">Administradores</a></li>
        </ul>
      </li>

      <li class="nav__item has-submenu">
        <a routerLink="/testimonials">Testimonios <span class="arrow"></span></a>
        <ul class="submenu">
          <li class="submenu-item"><a routerLink="/testimonials/fathers">Padres</a></li>
          <li class="submenu-item"><a routerLink="/testimonials/players">Jugadores</a></li>
        </ul>
      </li>

      <!-- <li class="nav__item has-submenu">
        <a routerLink="/awards">Trofeos y Reconocimientos <span class="arrow"></span></a>
        <ul class="submenu">
          <li class="submenu-item"><a routerLink="/awards/trophy-room">Sala de Trofeos</a></li>
          <li class="submenu-item"><a routerLink="/awards/player-awards">Reconocimientos</a></li>
        </ul>
      </li> -->

      <li class="nav__item"><a routerLink="/tournaments">Torneos</a></li>
      <li class="nav__item"><a routerLink="/gallery">Galería</a></li>
      <li class="nav__item"><a routerLink="/contact">Contacto</a></li>
    </ul>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Menu Mobile -->
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/about">
        <span>Sobre Nosotros</span>
      </button>

      <button mat-menu-item routerLink="/team">
        <span>Equipo</span>
      </button>

      <button mat-menu-item="nav__mobile-item" routerLink="/testimonials">
        <span>Testimonios</span>
      </button>

      <!-- <button mat-menu-item routerLink="/awards">
        <span>Trofeos y Reconocimientos</span>
      </button> -->

      <button mat-menu-item routerLink="/tournaments">
        <span>Torneos</span>
      </button>

      <button mat-menu-item routerLink="/gallery">
        <span>Galería</span>
      </button>

      <button mat-menu-item routerLink="/contact">
        <span>Contacto</span>
      </button>
    </mat-menu>
  </nav>
</header>
