.sponsors-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--quinary-color);

  &__container {
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 1rem;

    h2 {
      font-size: 2rem;
      color: var(--quaternary-color);
    }
  }

  &__slider {
    display: flex;
    overflow: hidden;
    width: 500%;
    position: relative;
    animation: slide 40s linear infinite;
    -webkit-animation: slide 40s linear infinite;

    &__item {
      flex: 0 0 auto;
      width: 200px;
      height: 150px;
      margin: 0 1rem;
      transition: transform 3s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0;
        box-shadow: none;
        background: none;
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
      -webkit-animation: translateX(-0%);
    }
    100% {
      transform: translateX(-78%);
      -webkit-animation: translateX(-78%);
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .sponsors-slider {
    padding: 1rem;
  }

  .sponsors-slider__title h2 {
    font-size: 1.5rem;
  }

  .sponsors-slider__slider {
    width: 700%;
  }

  .sponsors-slider__slider__item {
    width: 150px;
    height: 100px;
    margin: 0 0.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 480px) {
  .sponsors-slider {
    padding: 0.5rem;
  }

  .sponsors-slider__title h2 {
    font-size: 1.2rem;
  }

  .sponsors-slider__slider__item {
    width: 100px;
    height: 75px;
    margin: 0 0.25rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
