<main>
  <div class="sponsors-slider">
    <div class="sponsors-slider__container">
      <div class="sponsors-slider__content">
        <div class="sponsors-slider__title">
          <h2>Nuestros Aliados</h2>
        </div>
        <div class="slider" [style.--quantity]="sponsors.length" [style.--width]="'200px'" [style.--height]="'150px'">
          <div class="list">
            <div class="item" *ngFor="let sponsor of sponsors; let i = index" [style.--position]="i + 1">
              <img [src]="sponsor.image" [alt]="sponsor.name">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
