.tournament-details {
  background-image:
  linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
  url(../../../../public/assets/tournament_background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  height: auto;

  .tournament__container__button {
    padding: 1rem;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    tr {
      border: 1px solid var(--quaternary-color);
    }

    th, td {
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: var(--primary-color);
      color: var(--tertiary-color);
      font-weight: bold;
      font-size: 1.2rem;
    }

    td span {
      font-weight: bold;
      font-size: 1.3rem;
    }

    td img {
      width: 40px;
      height: 45px;
      margin-right: 10px;
      object-fit: contain;
    }

    .team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1rem;

      .team-logo {
        width: 40px;
        height: 45px;
        margin-right: 10px;
        object-fit: contain;
      }
    }

    .vs {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .result {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    p {
      margin-top: 10px;
      font-size: 1.2rem;
      color: var(--primary-color);
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 1rem;;
    }

    &__table {
      th, td {
        padding: 5px;
        font-size: 0.6rem;
      }

      th {
        font-size: 0.7rem;
      }

      td span, .vs, .result {
        font-size: 0.7rem;
      }

      td img {
        display: none;
      }
    }
  }
}
