@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.team-teachers {
  background-image:
    linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
    url(../../../../../public/assets/imagen_fondo_profesores.jpg);
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);

  &__banner {
    width: 100%;
    height: 92vh;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  &__slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 60s linear infinite;
    z-index: 2;
  }

  @keyframes autoRun {
    from {
      transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
    }
    to {
      transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
    }
  }

  &__item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(500px);
  }

  &__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  &__title {
    top: 6rem;
    font-family: 'ICA Rubrik';
    font-size: 15em;
    line-height: 1em;
    color: var(--tertiary-color);
    position: relative;
  }

  &__title::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 3px var(--primary-color);
    color: transparent;
  }

  &__data-teacher {
    font-family: Poppins;
    text-align: right;
    max-width: 220px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    & h2 {
      font-size: 3em;
    }

    & ul {
      list-style: none;
      margin: 0 0 1rem 0;
    }
  }

  &__model {
    width: 28rem;
    height: 70vh;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-size: auto 116%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &__content {
      background-color: var(--tertiary-color);
      color: var(--quaternary-color);
      margin: 6% auto;
      width: 70%;
      max-width: 900px;
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 1rem;
    }

    &__image {
      height: auto;
      display: flex;
      align-items: center;

      &__img {
        width: 22rem;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }

    &__data {
      width: 100%;
      padding: 20px;

      &-teacher {
        font-family: Poppins;

        & h2 {
          font-size: 2em;
          margin-bottom: 10px;
        }

        & p {
          font-size: 1.2em;
        }

        &__categories,
        &__torunaments {

          & h3 {
            font-size: 1.5em;
            margin-top: 10px;
          }

          & ul {
            list-style: none;
          }
        }
      }
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      color: var(--quaternary-color);
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      padding: 8px;
    }

    .close {
      color: var(--quaternary-color);
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: var(--quaternary-color);
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__cards-mobile {
    display: none;
    flex-wrap: wrap;
    justify-content: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 5rem 20px 20px 20px;
    }

    &__content__card {
      position: relative;
      width: 260px;
      height: 360px;
      background-color: transparent;
      border-radius: 20px;
      overflow: hidden;
      transition: box-shadow 0.3s ease, border 0.3s ease;

      &.active {
        display: block;
      }

      &:not(.active) {
        display: none;
      }

      .top-card {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 65%;
        transition: height 0.3s ease;
        background-size: cover;
        background-position: center;
        background-color: #fff;
      }

      .bottom-card {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 35%;
        transition: height 0.3s ease;
        background-color: var(--tertiary-color);
        position: relative;
      }

      &:hover .top-card {
        height: 35%;
        transition: height 0.3s ease;
      }

      &:hover .bottom-card {
        height: 65%;
        transition: height 0.3s ease;
      }

      &:hover .bottom-card::before {
        bottom: 164px;
        transition: bottom 0.3s ease;
      }

      .card-content {
        padding-top: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        .card-title {
          font-weight: 700;
          font-size: 1.4rem;
        }

        .card-txt {
          font-size: 1.2rem;
        }

        .card-btn {
          font-size: 11px;
          margin-top: 15%;
          text-decoration: none;
          background-color: transparent;
          border-radius: 15px;
          padding: 5%;
          transition: background-color 0.4s ease;
        }
      }
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;

      button {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--secondary-color);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .team-teachers {
      height: 100vh;
    }

    &__banner {
      display: none;
    }

    &__cards-mobile {
      display: block;
      height: 84vh
    }

    &__modal {

      &__content {
        width: 90%;
        flex-direction: column;
      }

      &__image {
        &__img {
          width: 100%;
          height: auto;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-left-radius: 0;
        }
      }

      &__data {
        &-teacher {

          & h2 {
            font-size: 1.5em;
          }

          & p {
            font-size: 1rem;
          }

          &__categories,
          &__torunaments {

            & h3 {
              font-size: 1.2em;
              margin-bottom: 10px;
            }
          }
        }
      }

      &__close {
        top: 5px;
        right: 5px;
        font-size: 24px;
        color: var(--quaternary-color);
      }
    }
  }
}
