<main class="team-teachers">
  <div class="team-teachers__banner">
    <div class="team-teachers__slider" style="--quantity: 6">
      <div class="team-teachers__item" *ngFor="let teacher of teachers; let i = index" [style.--position]="i + 1" (mouseenter)="updateCurrentTeacher(i)">
        <img [src]="teacher.imageUrl" alt="">
      </div>
    </div>
    <div class="team-teachers__content">
      <h1 class="team-teachers__title" data-content="Profesores">
        Profesores
      </h1>
      <div class="team-teachers__data-teacher">
        <h2>{{currentTeacher.name}}</h2>
        <p><b>Edad: {{currentTeacher.age}}</b></p>
        <p>Profesor de las categorías:</p>
        <ul>
          <li *ngFor="let category of currentTeacher.categories">{{category}}</li>
        </ul>
        <app-button class="team-teachers__button" [config]="buttonConfig">Ver más</app-button>
      </div>
      <div class="team-teachers__model" [style.backgroundImage]="'url(' + currentTeacher.imageUrl + ')'"></div>
    </div>
  </div>

  <div class="team-teachers__cards-mobile">
    <div class="team-teachers__cards-mobile__content">
      <div class="team-teachers__cards-mobile__content__card" *ngFor="let teacher of teachers; let i = index" [class.active]="i === currentCardIndex">
        <div class="top-card" [style.backgroundImage]="'url(' + teacher.imageUrl + ')'"></div>
        <div class="bottom-card">
          <div class="card-content">
            <span class="card-title">{{teacher.name}}</span>
            <p class="card-txt">Edad: {{teacher.age}}</p>
            <app-button class="card-btn" [config]="buttonConfig">Ver más</app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="team-teachers__cards-mobile__controls">
      <button (click)="prevCard()">Anterior</button>
      <button (click)="nextCard()">Siguiente</button>
    </div>
  </div>

  <div class="team-teachers__modal" id="modal">
    <div class="team-teachers__modal__content">
      <div class="team-teachers__modal__image">
        <img class="team-teachers__modal__image__img" [src]="currentTeacher.imageUrl" id="modalImage" alt="">
      </div>
      <div class="team-teachers__modal__data">
        <section class="team-teachers__modal__data-teacher">
          <h2 id="modalTitle">
            {{currentTeacher.name}}
          </h2>
          <div id="modalDescription">
            <div class="description">
              <h3>Descripción:</h3>
              <p>{{currentTeacher.description}}</p>
            </div>
            <div class="team-teachers__modal__data-teacher__age">
              <h3>Edad: </h3> <p>{{currentTeacher.age}}</p>
            </div>
          </div>
          <div class="team-teachers__modal__data-teacher__categories" id="modalCategories">
            <h3>Categorías</h3>
            <ul>
              <li *ngFor="let category of currentTeacher.categories">Categoría: {{category}}</li>
            </ul>
          </div>
          <div class="team-teachers__modal__data-teacher__torunaments">
            <h3>Torneos en lo que ha participado</h3>
            <ul>
              <li *ngFor="let tournament of currentTeacher.tournaments">Torneo: {{tournament}}</li>
            </ul>
          </div>
          <div class="team-teachers__modal__data-teacher__torunaments">
            <h3>Torneos ganados</h3>
            <ul>
              <li *ngFor="let tournamentsWins of currentTeacher.tournamentsWins">Torneo: {{tournamentsWins}}</li>
            </ul>
          </div>
        </section>
      </div>
      <div class="team-teachers__modal__close">
        <span class="close" id="closeModal" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </span>
      </div>
    </div>
  </div>
</main>
