<main class="vision">
  <div class="vision__background__blur"></div>
  <div class="vision__container">
    <div class="vision__content">
      <div class="vision__title">
        <h1>Visión</h1>
      </div>
      <div class="vision__description">
        <p class="vision__description__text">
          Nuestra visión es ser reconocidos como un modelo de excelencia y transformación social en el ámbito deportivo,
          trascendiendo las fronteras de la comuna 13 y llevando nuestra filosofía de impacto positivo a niveles
          regionales, nacionales e incluso internacionales. En CD Futuro 13, aspiramos a convertirnos en un referente en
          la formación de jóvenes íntegros, promoviendo el deporte como una herramienta para derribar barreras, superar
          adversidades y construir un futuro lleno de oportunidades.
          <br>
          <br>
          Imaginamos un club donde cada jugador sea un testimonio vivo de que los valores, el esfuerzo y la dedicación
          pueden cambiar vidas y comunidades. Buscamos consolidarnos como una institución que inspire confianza no solo
          en los jóvenes y sus familias, sino también en empresas, patrocinadores y organizaciones que compartan nuestra
          visión de un mundo mejor a través del deporte.
          <br>
          <br>
          En el futuro, queremos liderar iniciativas sociales y deportivas que promuevan la inclusión, la igualdad y el
          desarrollo sostenible, posicionándonos como una entidad innovadora que combina tradición y modernidad. Nuestro
          compromiso es formar jugadores talentosos y ciudadanos comprometidos, dejando un legado que inspire a
          generaciones a creer en sus sueños, esforzarse por alcanzarlos y contribuir al bienestar de la sociedad.
          <br>
          <br>
          <span>
            "Porque en cada joven que entrenamos, estamos sembrando un mundo lleno de posibilidades y sueños cumplidos."
          </span>
          <br>
        </p>
      </div>
    </div>
    <div class="vision__buttons">
      <app-button class="vision__button" [config]="buttonConfigMission"></app-button>
    </div>
  </div>
</main>