<section class="home__content__rude__piggy">
  <h2 class="home__content__rude__piggy__title">¡No seas un cerdito grosero!</h2>
  <div class="home__content__rude__piggy__container">
    <div class="home__content__rude__piggy__image">
      <img class="home__content__rude__piggy__image" src="https://res.cloudinary.com/dy6jglszo/image/upload/v1740944700/Cerdito_Grosero_CD-Futuro13.jpg" alt="Cerdito de alcancia">
    </div>

    <div class="home__content__rude__piggy__text">
      <h1 class="home__content__rude__piggy__text__subtitle">¡Aprende a ser un buen jugador!</h1>
      <p class="home__content__rude__piggy__text__paragraph">
        En CD Futuro 13, creemos que ser un buen jugador va más allá de lo que sucede en el campo. Por eso, tenemos una regla de oro que todos nuestros jugadores deben seguir: <span>¡No seas un cerdito grosero!</span>
        <br />
        <br />
        ¿Qué significa esto?, Significa que debes ser respetuoso, amable y solidario con tus compañeros, entrenadores, árbitros y rivales. Recuerda que el fútbol es un deporte de equipo, y que el respeto y la camaradería son fundamentales para lograr el éxito. <br />
      </p>
    </div>
  </div>
</section>
