<main class="join-us">
  <section class="join-us__container">
    <div class="join-us__content">
      <h1 class="join-us__title">¡Únete a nuestro club!</h1>
      <p class="join-us__slogan">Si te gusta el mundo de la cerveza y quieres formar parte de nuestro club, rellena el
        siguiente formulario y nos pondremos en contacto contigo.</p>

      <div class="join-us__description">
        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">¿Por qué unirte?</h2>
          <ul class="join-us__description__text__list">
            <li class="join-us__description__text__list__item">Entrena con entrenadores con mucho conocimiento y
              apasionados.
            <li class="join-us__description__text__list__item">Mejora tus habilidades deportivas mientras aprendes
              valores como la disciplina, el respeto y el trabajo en equipo.
            <li class="join-us__description__text__list__item">Participa en torneos, eventos y actividades que marcarán
              tu camino como deportista y persona.
            <li class="join-us__description__text__list__item">Disfruta de un ambiente sano y divertido.
            <li class="join-us__description__text__list__item">Sé parte de una comunidad que apoya tus sueños y te
              inspira a alcanzar tus metas.
            <li class="join-us__description__text__list__item">Crea un ambiente de aprendizaje y crecimiento personal.
          </ul>
        </article>

        <article class="join-us__description__text" style="margin-top: 1.5rem;">
          <h2 class="join-us__description__text__title">¿Quienes pueden unirse?</h2>
          <p>Niños, niñas y jóvenes de todas las edades y niveles deportivos que quieran crecer en un entorno seguro,
            inclusivo y motivador.</p>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">¿Cómo inscribirse?</h2>
          <ol class="join-us__description__text__list">
            <li class="join-us__description__text__list__item">Llena nuestro <a
                href="assets/files/formulario_de_inscripcción_a_CD-Futuro13.pdf"
                download="Formulario_de_inscripcción_a_CD-Futuro13.pdf">Formulario</a> o visítanos en nuestras
              instalaciones.
            <li class="join-us__description__text__list__item">Conoce las <a href="/categories">Categorias</a>
              disponibles y encuentra la que más se ajuste a tu perfil.
            <li class="join-us__description__text__list__item">¡Prepárate para vivir una experiencia única en el mejor
              club de la comuna 13!
          </ol>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">Valor de la inscripción a tu nueva familia</h2>
          <ul class="join-us__description__text__list">
            <span>La Inscripción Incluye:</span>
            <li class="join-us__description__text__list__item">Uniforme 1: $ 80.000
            <li class="join-us__description__text__list__item">Uniforme 2: $ 80.000
            <li class="join-us__description__text__list__item">Uniforme de presentación: $ 120.000
            <li class="join-us__description__text__list__item">Matrícula para nuevos: $ 50.000
            <li class="join-us__description__text__list__item">Matrícula para antiguos: $ 25.000
            <li class="join-us__description__text__list__item">Póliza de seguros: $ 70.000
            <li class="join-us__description__text__list__item"><span>Mensualmente sigues pagando: $50.000</span>
          </ul>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">Requisitos:</h2>
          <ul class="join-us__description__text__list">
            <li class="join-us__description__text__list__item">Edad mínima: 4 años.
            <li class="join-us__description__text__list__item">Fotocopia del documento de identidad
            <li class="join-us__description__text__list__item">Fotocopia Certificado de la EPS actualizado
            <li class="join-us__description__text__list__item">Fotocopia de la Cedula de los padres
            <li class="join-us__description__text__list__item">5 Fotos tipo documento iguales (3X4), lo más recientes
              posible
          </ul>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">¿Qué necesitas para unirte?</h2>
          <ul class="join-us__description__text__list">
            <li class="join-us__description__text__list__item">Ganas de aprender y mejorar.
            <li class="join-us__description__text__list__item">Compromiso y responsabilidad.
            <li class="join-us__description__text__list__item">Respeto por tus compañeros y entrenadores.
            <li class="join-us__description__text__list__item">Disposición para trabajar en equipo.
            <li class="join-us__description__text__list__item">Actitud positiva y proactiva.
          </ul>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">Horarios:</h2>
          <ul class="join-us__description__text__list">
            <li class="join-us__description__text__list__item">Horario de inscripción: Lunes, Miércoles y Viernes 7:00 a
              8:30 pm - Cancha el Salado
            <li class="join-us__description__text__list__item">Horario de entrenamineto: Lunes, Miércoles y Viernes 7:00
              a 8:30 pm - Cancha el Salado (Categorías Sub-5 a Sub-17)
            <li class="join-us__description__text__list__item">Horario de entrenamineto: Martes y Jueves 6:00 a 8:00 am
              / 2:00 a 3:30 pm - Cancha el Salado (Categorías Sub-10 - en adelante)
          </ul>
        </article>

        <article class="join-us__description__text">
          <h2 class="join-us__description__text__title">Si deseas obtener más información:</h2>
          <ul class="join-us__description__text__list">
            <li class="join-us__description__text__list__item"><span>Dirección:</span> Cl. 39D #112, El Salado, Cl 39D
              #112-121, San Javier, Medellín, Antioquia
            <li class="join-us__description__text__list__item"><span>Teléfono:</span> +57 301 712 2816
          </ul>
        </article>
      </div>
    </div>
  </section>
</main>
