<main class="mission">
  <div class="mission__background__blur"></div>
  <div class="mission__container">
    <div class="mission__content">
      <div class="mission__title">
        <h1>Misión</h1>
      </div>
      <div class="mission__description">
        <p class="mission__description__text">
          En CD Futuro 13, nuestra misión es impactar positivamente en la vida de los jóvenes y sus familias a través
          del deporte, promoviendo valores que trasciendan más allá del campo de juego. Trabajamos para crear un entorno
          inclusivo, seguro y estimulante, donde cada jugador pueda desarrollar su máximo potencial físico, mental y
          social.
          <br>
          <br>
          Nos dedicamos a formar no solo atletas destacados, sino también ciudadanos ejemplares, inculcando principios
          como la disciplina, el respeto, el trabajo en equipo, la perseverancia y la responsabilidad. Creemos que el
          deporte es una herramienta poderosa para transformar vidas, por lo que nos esforzamos por ofrecer programas de
          entrenamiento de alta calidad, eventos deportivos bien organizados y un acompañamiento integral para
          garantizar el desarrollo personal y deportivo de cada participante.
          <br>
          <br>
          A través de alianzas con familias, entrenadores y la comunidad, buscamos construir un vínculo sólido que
          inspire confianza, motive el esfuerzo continuo y fomente un profundo sentido de pertenencia. Nuestro objetivo
          es que cada joven que pase por el club no solo se lleve habilidades deportivas, sino también valores y
          recuerdos que lo acompañen durante toda su vida.
          <br>
          <br>
          <span>"Porque en cada gol, en cada paso y en cada sueño alcanzado, construimos un futuro lleno de
            esperanza."</span>
          <br>
        </p>
      </div>
    </div>
    <div class="mission__buttons">
      <app-button class="mission__button" [config]="buttonConfigVision"></app-button>
      <app-button class="mission__button" [config]="buttonConfigHistory"></app-button>
    </div>
  </div>
</main>
