<a [attr.href]="config.href || null" [ngClass]="config.class" [ngStyle]="{'font-size': config.fontSize}" (click)="$event.preventDefault(); config.action()">
  <button [type]="config.type || 'button'" [disabled]="config.disabled">
    <ng-container *ngIf="config.icon && iconPosition === 'left'">
      <mat-icon>{{ config.icon }}</mat-icon>
    </ng-container>
    {{ config.label }}
    <ng-container *ngIf="config.icon && iconPosition === 'right'">
      <mat-icon>{{ config.icon }}</mat-icon>
    </ng-container>
  </button>
</a>