<main class="home">
  <app-carousel></app-carousel>
  <div class="home__content">
    <h1 class="home__title">Bienvenidos a CD Futuro 13</h1>
  </div>

  <section class="home__content__information">
    <div class="home__content__information__logo">
      <figure class="logo">
        <img src="assets/logo.svg" alt="Logo">
      </figure>
    </div>

    <div class="home__content__information__text">
      <h2 class="home__content__information__text__title">Un poco de sobre nuestro enfoque</h2>
      <p class="home__content__information__text__paragraph">
        En CD Futuro 13, creemos firmemente en el poder del deporte como herramienta para transformar vidas y construir
        un futuro lleno de oportunidades. Somos un club deportivo comprometido con la formación de jóvenes íntegros,
        donde no solo se desarrollan habilidades deportivas, sino también valores esenciales como la disciplina, el
        respeto, el compromiso y el trabajo en equipo. <br />
        Nacidos en el corazón de la comuna 13, nuestro propósito es crear un espacio seguro, inclusivo y motivador para
        que cada jugador alcance su máximo potencial. Más que un club, somos una familia que trabaja para inspirar a
        nuestros jóvenes a superar límites, alcanzar metas y convertirse en agentes de cambio positivo en sus
        comunidades. <br />
        Con el apoyo de entrenadores apasionados, familias comprometidas y una comunidad que cree en el poder del
        deporte, CD Futuro 13 es mucho más que un equipo: es un sueño compartido que crece y se fortalece cada día.
      </p>
    </div>
  </section>

  <section class="home__content__information-second">
    <div class="home__content__information__text-second">
      <h2 class="home__content__information__text__title-second">¡Únete a CD Futuro 13!</h2>
      <p class="home__content__information__text__paragraph-second">
        ¿Quieres ser parte de un club donde el deporte transforma vidas? En CD Futuro 13, te esperamos con los brazos
        abiertos para que formes parte de nuestra familia y construyas un futuro lleno de oportunidades.
        Aquí, no solo mejorarás tus habilidades en el campo, sino también aprenderás valores esenciales como la
        disciplina, el respeto y el trabajo en equipo. Creemos en ti y en tu capacidad para alcanzar metas que nunca
        imaginaste posibles. <br />
        Con el apoyo de entrenadores dedicados y una comunidad que te respalda, encontrarás el lugar perfecto para
        crecer como jugador y como persona. No importa tu nivel o experiencia, en CD Futuro 13 siempre hay espacio para
        quienes tienen pasión y ganas de superarse.
      </p>
    </div>

    <div class="home__content__information__slogan">
      <p class="home__content__information__slogan__text">"Porque en cada balón que rueda, comienza una nueva historia llena de sueños, esfuerzo y pasión."</p>
      <app-button [config]="buttonConfig"></app-button>
    </div>
  </section>

  <section class="home__content__information-third">
    <h1 class="home__content__information__title">Continuamos en construcción, proximamente veras más informacion sobre nosotros</h1>
  </section>

  <section class="home__content__sponsors">
    <app-sponsors-slider></app-sponsors-slider>
  </section>
</main>
