.awards {
  background-image:
    linear-gradient(var(--background-color) 100%, rgba(0, 0, 0, 0)),
    url(../../../../public/assets/imagen_fondo_reconocimientos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);

  .awards__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .awards__title {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      padding: 1.8rem;
    }

    .awards__container__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      gap: 5rem;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 768px) {
    .awards__container {
      height: 165vh;

      .awards__content {
        .awards__title {
          font-size: 1.2rem;
          padding: 1rem;
        }

        .awards__container__cards {
          flex-direction: column;
          gap: 2rem;
          height: auto;
        }
      }
    }
  }
}
