<main class="not-content-page">
  <div class="not-content-page__container">
    <span class="not-content-page__text">
      Upss! La pagina que buscas esta en construcción, próximamente podrás ver la información que necesitas.
    </span>
    <div class="not-content-page__content">
      <div class="not-content-page__title__button">
        <h1><span>204</span><br> Sin Información</h1>
        <app-button-return></app-button-return>
      </div>
      <div class="not-content-page__image">
        <figure class="not-content-page__logo">
          <img src="../../../assets/logo.svg" alt="Logo">
        </figure>
      </div>
    </div>
  </div>
</main>
