
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    font-family: "Nunito",
    typography: "Nunito",
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc4b08;
  --secondary-color: #ffa772;
  --tertiary-color: #000000;
  --quaternary-color: #ffffff;
  --quinary-color: #fe7739;
  --button-color: #d52b00;
  --background-color: #ffa872cb;
  --details-color: #c52709;
  --border-radius: 0.25rem;
  --transition: all 0.3s linear;
}

@font-face {
  font-family: "Nunito";
    src: url("/fonts/nunito.woff") format("woff"),
        url("/fonts/nunito.ttf") format("truetype"),
        url("/fonts/nunito-italic.woff") format("woff"),
        url("/fonts/nunito-italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
  font-family: "Passion One";
    src: url("/fonts/passion-one.woff") format("woff"),
        url("/fonts/passion-one.ttf") format("truetype");
    font-display: swap;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", "Helvetica Neue", sans-serif; }
